.statistics {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.stat-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.item {
  flex-basis: 24%;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #ccc; /* за замовчуванням */
}

.label {
  font-weight: bold;
}

.percentage {
  margin-top: 5px;
}
